.menu_con {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 8px 0;
    background-color: #071125;
    border-radius: 16px 16px 0 0;
}

.menu_con > div {
    flex: 1;
    min-height: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #7A87A6;
}

.menu_con > div > img {
    width: 21px;
    height: 21px;
    margin-bottom: 5px;
}

.menu_con > div > span {
    font-size: 10px;
}

.menu_active {
    color: #4680EB;
}

.placeholder {
    height: 100px;
}
