* {
    margin: 0;
    padding: 0;
    font-family: PingFangSC, PingFang SC;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body {
    background-color: #00081A;
}


@font-face {
    font-family: 'AlimamaShuHeiTi';
    src: url('./assets/fonts/AlimamaShuHeiTi-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}